certifi
chardet
click
dataclasses
filelock
flake8
future
idna
importlib-metadata
joblib
mccabe
nltk
numpy
packaging
pandas
protobuf
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
regex
requests
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
six
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
zipp
